@import url('https://fonts.googleapis.com/css?family=Bitter|Ultra|Lato');
*{
  box-sizing: border-box;
    margin: 0;
}
@font-face {
	font-family: 'Edmunds';
	src: url('../fonts/Edmunds-Regular.eot');
	src: url('../fonts/Edmunds-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Edmunds-Regular.woff') format('woff'),
		url('../fonts/Edmunds-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html{
  font-family: 'Bitter', serif;
}

header, main, footer {
  width: 100%;
}

/*Górny pasek strony*/

header {
  font-family: 'Edmunds', serif;
  text-align: center;
  background-color: #c8beb7;
  font-size: 2em;
  letter-spacing: 3px;

}
header h1{
  margin: 15px auto;
  color: #241f1c;
}

.container {
  margin: 0 auto;
  width: 75%;
  overflow: auto;
  color: #6c5353;
}
.clear {
  clear: both;
}

/*Główna część strony*/
#background {
  background-image: url("../images/main_background.png");
  background-size: cover;
  background-position: top center;
  text-align: center;
  position: relative;
  overflow: auto;
}

#slogan {
  margin: 0 auto;
  width: 100%;
  font-size: 2em;
  font-weight: 600;
  padding: 20px;

}

.panel {
  position: relative;
  width: auto;
  display: inline-block;
  overflow: auto;
  text-align: center
}

.player {
  margin: 20px;
  width: 250px;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  border: 3px solid #6c5353;
  border-radius: 20px;
}

.box_left {
  float: left;
}
.box_right{
  float: right;
}
.game {
  margin: 20px;
  height: 250px;
  width: 250px;
  background-image: url("../images/visiuals.png");
  background-size: 200%;
  background-position: top 3px left;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 3px solid #6c5353;
}

.letsPlay {
  font-family: 'Bitter',serif;
  font-size: 2em;
  width: 20%;
  padding: 10px;
  text-decoration: none;
  color: #e3dbdb;
  background-color: #6c5353;
  border-radius: 20px;
  border: none;
  margin: 15px;
  border: 3px solid #6c5353;
}
.letsPlay:hover {
  background-color: transparent;
  color: #6c5353;
  border: 3px solid #6c5353;
}

/* Stopka */
footer {
  background-color: beige;
}
.createdBy {
  display: inline-block;
  float: left;
  text-align: center;
  color: #5d5d5d;
  margin: 15px 0 0 25%;
}

.logo {
  margin: 10px 30% 10px 0;
  float: right;
  width: 30px;
  height: 30px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.winner {
    height: 70px;
    width:  40%;
    font-family: 'Bitter', serif;
    margin: 0 auto;
}

.winner > p {
    padding: 1% 0 0 0;
    font-size: 3em;
    font-weight: bold;
    color: #6c5353;
}

footer {
    background-color: #e3dbdb;
}
