@import url('https://fonts.googleapis.com/css?family=Coiny|Concert+One|Lato');
*{
  box-sizing: border-box;
    margin: 0;
}
html{
  font-family: 'Lato', sans-serif;
}

header, main, footer {
  width: 100%;
}

/*Górny pasek strony*/

header {
  font-family: 'Coiny', cursive;
  text-align: center;
  background-color #cccccc;
}
header h1{
  margin: 45px 0 0 0;
}

.container {
  margin: 0 auto;
  width: 75%;
  overflow: auto;
}
.clear {
  clear: both;
}

/*Główna część strony*/
#background {
  background-image: url("../images/main_background.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  overflow: auto;
}

#slogan {
  margin: 0 auto;
  width: 100%;
  font-size: 2em;
  font-weight: 400;
  padding: 20px;
  color: #FEF2A0;
  background-color: rgba(88, 88, 88, 0.8);
}

.panel {
  position: relative;
  width: auto;
  display: inline-block;
  overflow: auto;
  text-align: center
}

.player {
  margin: 20px;
  width: 250px;
  padding: 20px;
  color: #FEF2A0;
  font-size: 1.5em;
  font-weight: 400;
  background-color: #E98B50;
  border-radius: 20px;
}

.box_left {
  float: left;
}
.box_right{
  float: right;
}
.game {
  margin: 20px;
  height: 250px;
  width: 250px;
  background-image: url("../images/visiuals.png");
  background-size: 200%;
  background-position: top left;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 3px solid #E98B50;
}

.letsPlay {
  font-family: 'Lato',sans-serif;
  font-size: 2em;
  width: 20%;
  padding: 20px;
  text-decoration: none;
  color: #FEF2A0;
  background-color: rgb(31, 83, 215);
  border-radius: 20px;
  border: none;
  margin: 15px auto;
}
.letsPlay:hover {
  background-color: #FEF2A0;
  color: rgb(31, 83, 215);
}

/* Stopka */
footer {
  background-color: beige;
}
.createdBy {
  display: inline-block;
  float: left;
  text-align: center;
  color: #5d5d5d;
  margin: 15px 0 0 25%;
}

.logo {
  margin: 10px 30% 10px 0;
  float: right;
  width: 30px;
  height: 30px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.winner {
    height: 70px;
    width:  40%;
    background-color: blue;
    font-family: sans-serif;
    margin: 0 auto;
}

.winner > p {
    padding: 1% 0 0 0;
    font-size: 3em;
    color: white;
    font-family: sans-serif;
}
